/.gradle/*
/.idea/*
**/out/*
**/build/*
**/target/*
**/*.iml
hs_err_pid*
*.log

gradlew.bat
gradlew
/storage/
/docker/minio/
/docker/postgres/
/docker/rabbitmq/
gradle.properties
/local-logs/spring-boot-logger.log
/docker/jasper/
/jasper/
/.idea/libraries/
/.idea/
